.kudo-filter-list .input {
  border: 1px solid #dcdee2;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  padding: 6px;
  height: 20px;
  font-size: 15px;
  width: calc(100% - 12px);
  transition: border .2s ease-in-out, background .2s ease-in-out,box-shadow .2s ease-in-out;
}

.kudo-filter-list .list {
  padding: 6px 0;
}

.kudo-filter-list .list .divider {
  border-bottom: 1px solid #e8eaec;
}

.kudo-filter-list .list .item {
  cursor: pointer;
  padding: 0 6px;
  line-height: 40px;
}

.kudo-filter-list .list .item:hover {
  background-color: #f0faff;
}

.kudo-filter-list .list .item .action {
  float: right;
}

.kudo-filter-list .list .item .action .button {
  display: inline-block;
  margin: 0 3px;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 15px 6px;
  font-size: 12px;
  border-radius: 4px;
  transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
  color: #515a6e;
  background-color: #fff;
  border-color: #dcdee2;
}

.kudo-filter-list .list .item .action .button:hover {
  color: #57a3f3;
  background-color: #fff;
  border-color: #57a3f3;
}

.kudo-filter-list .list .item .action .button:focus {
  outline: 0;
}

.kudo-filter-list .list .item .action .primary {
  color: #fff;
  background-color: #2d8cf0;
  border-color: #2d8cf0;
}

.kudo-filter-list .list .item .action .primary:hover{
  color: #fff;
    background-color: #57a3f3;
    border-color: #57a3f3;
}

.kudo-filter-list .list .item .action .success {
  color: #fff;
  background-color: #19be6b;
  border-color: #19be6b;
}

.kudo-filter-list .list .item .action .success:hover {
  color: #fff;
  background-color: #47cb89;
  border-color: #47cb89;
}

.kudo-filter-list .list .item .action .error {
  color: #fff;
  background-color: #ed4014;
  border-color: #ed4014;
}

.kudo-filter-list .list .item .action .error:hover {
  color: #fff;
    background-color: #f16643;
    border-color: #f16643;
}

.kudo-filter-list .list .item .action .warning {
  color: #fff;
  background-color: #f90;
  border-color: #f90;
}

.kudo-filter-list .list .item .action .warning:hover {
  color: #fff;
  background-color: #ffad33;
  border-color: #ffad33;
}

.kudo-filter-list .list .item .action .info {
  color: #fff;
  background-color: #2db7f5;
  border-color: #2db7f5;
}

.kudo-filter-list .list .item .action .info:hover {
  color: #fff;
  background-color: #57c5f7;
  border-color: #57c5f7;
}

.kudo-filter-list .list .item .action .text {
  color: #515a6e;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.kudo-filter-list .list .item .action .text:hover {
  color: #57a3f3;
  background-color: #fff;
  border-color: transparent;
}

.kudo-filter-list .list .selected-item {
  background-color:#f0faff;
  color:#2d8cf0;
}